body {
background-image: url(https://krasivosti.pro/uploads/posts/2022-09/1662703114_6-krasivosti-pro-p-krolik-s-opushchennimi-ushami-oboi-6.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
   
}
